{% extends 'base.html.twig' %}

{% block title %}
    Products
{%  endblock %}

{% block container %}
    <h1>Mes produits</h1>


    <div class="row mt-2">

        {% for product in products %}
            <div class="col-4">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title
                        ">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }} €</p>
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Voir</a>

                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning">Modifier</a>

                        <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}