<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ path('app_main') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="{{ path('app_about') }}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{{ path('app_product') }}" class="nav-link">Products</a></li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="{{ path('login') }}" class="nav-link">Login</a></li>
            {% endif %}
            <li class="nav-item"><a href="{{ path('app_blog') }}" class="nav-link">Blog</a></li>
        </ul>
    </header>
</div>